provider "google" {
  region  = "us-east4"
  zone    = "us-east4-a"
  project = "PROJECT"
  version = "2.20.0"
}

provider "google-beta" {
  region  = "us-east4"
  zone    = "us-east4-a"
  project = "PROJECT"
  version = "2.20.0"
}

provider "acme" {
  server_url = "https://acme-v02.api.letsencrypt.org/directory"
}
